.note figure img {
	background: white;
	padding: 0.5em;
	}
.translateme::before {
	content: ' Translate this: ';
	color: coral;
	border-left: 4px solid coral;
	padding-left: .5em;
	}
.translateme {
	background-color: #F3F3C3;
	}
.checkme {
	background-color: #BBEFFC;
	}
.checkme::before {
	content: ' Check this translation: ';
	color: coral;
	border-left: 4px solid coral;
	padding-left: .5em;
	}